@model List<Eletrodomesticos>

<h1>Lista de Eletrodomesticos</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Consumo</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eletrodomesticos in Model)
        {
            <tr>
                <td>@eletrodomesticos.marca</td>
                <td>@eletrodomesticos.modelo</td>
                <td>@eletrodomesticos.consumoEnergia</td>
                <td>
                    @if (eletrodomesticos is Geladeira)
                    {
                        <strong>Capacidade:</strong> @(((Geladeira)eletrodomesticos).capacidade) <br />
                        <strong>Tem freezer:</strong> @(((Geladeira)eletrodomesticos).temFreezer ? "Sim" : "Não")

                    }
                    else if (eletrodomesticos is Televisor)
                    {
                        <strong>Tamanho:</strong> @(((Televisor)eletrodomesticos).TamanhoTela) <br />
                        <strong>É smart:</strong> @(((Televisor)eletrodomesticos).Ehsmart ? "Sim" : "Não")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>